.selected-border{
    -fx-border-color: #000000;
    -fx-border-width: 0 3 0 0;
    -fx-background-color: #d8d8d8;
}
.selected:hover{
    -fx-background-color: #e1e1e1;
}
.selected-border:pressed{
    -fx-background-color: #d8d8d8;
}